<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="formSubmit()">
    <label for="username">Username:</label>
    <input type="text" [(ngModel)]="user.username" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="user.password" id="password" name="password">
    <input type="submit" value="Login">
  </form>
  <p>Don't have an account? <a (click)="goToRegisterPage()">Register</a></p>
  <a  (click)="goToHomePage()">Home</a>
</div>
