<table>
    <thead>
      <tr>
        <th>Question ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Status</th>
        <th>Topic</th>
        <th>Created By</th>
        <th>Approved By</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{ question.id }}</td>
        <td>{{ question.title }}</td>
        <td>{{ question.description_question }}</td>
        <td><img src="{{ question.image_src }}" alt=""></td>
        <td>{{ question.status }}</td>
        <td>{{ question.topic }}</td>
        <td>{{ question.qcreated_by }}</td>
        <td>{{ question.qapproved_by }}</td>
        <td><button (click)="approveQuestion(question)"  [ngStyle]="{'background-color': question.status === 'false' ? '#ff0000' : '#008080'}" >Approve</button></td>
        <td><button (click)="deleteQuestion(question.id)">Delete</button></td>

      </tr>
    </tbody>
  </table>