
/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Header styles */
header {
  background-color: #263238;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center; /* Center header content */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main content styles */
main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 130px);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Footer styles */
footer {
  background-color: #263238;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  text-align: center; /* Center footer content */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 50px; /* Adjust the height as needed */
  margin-right: 1rem;
}

.logo-container h1 {
  font-size: 2rem;
  margin: 0;
}